@import '../../globalStyles/variables.scss';

.containerWrapper {
  margin: 0 auto;
  max-width: 1020px;
  min-height: 100vh;
  width: 100%;
  padding: 60px 40px;
  overflow: hidden;

  @include mobile() {
    padding: 60px 0;
  }
}
