@import './variables.scss';

// Global styles =========================================================
*,
*:before,
*:after,
html {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}
html {
  background-color: $white;
  color: $darkGreen2;
  font-family: 'Inter', sans-serif, Arial;
}
