// Colors ============================================================
$darkGreen1: #0e1210;
$darkGreen2: #182420;
$green: #0f4d2f;
$lightGreen: #00f070;
$gray1: #596e5f;
$gray2: #d8e5de;
$white: #f6fff8;

// Breakpoints =======================================================
@mixin tablet() {
  @media (max-width: 760px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 560px) {
    @content;
  }
}
// Mixins ============================================================
@mixin langButton() {
  padding: 8px 14px;
  color: $white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  margin: 2px;
}
