@import '../../globalStyles/variables.scss';

.NavBarWrapper {
  background-color: $white;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 999;
}
.NavBarBody {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.languageButtonDisabled {
  @include langButton();
  background-color: $gray1;
  color: $lightGreen;
  pointer-events: none;
  border: 1px solid $lightGreen;
}
.languageButtonEnabled {
  @include langButton();
  background-color: $green;
}
.logoButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;

  img {
    height: 38px;
  }
}
